
$color-red: #DA6E4C;
$color-dark-red:#b34726;
$color-green: #8FC718;
$color-dark-green: #5e8609;
$color-lightgray:#F8F8F8;
$color-gray:#e7e7e7d1;
$color-white: #FFFFFF;
$color-black: #000000;

$color-red-50:#DA6E4C;
$color-gray-30:#e7e7e759;

$padding-contentContainer:3em;



$font-family-main: "Oxygen", sans-serif;
